<nav class="navbar navbar-expand fixed-top navbar-light bg-light justify-content-between">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/daduck-bw.png" height="32" />
  </a>
  <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target=".navbar-collapse.show"
      data-target="#collapsibleNavbar"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    > -->

  <!--   <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse"
        data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/">Opus</a>
      </li>
      <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/lessons">{{ "navbar-menu-courses" | i18next }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/info">Info</a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-sm" (click)="changeLang('en')">
          en
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-sm" (click)="changeLang('fr')">
          fr
        </button>
      </li>
    </ul> -->
    <div class="navbar-nav">
      <button class="btn btn-sm" (click)="changeLang('en')">
        en
      </button>
      <button class="btn btn-sm" (click)="changeLang('fr')">
        fr
      </button>
    </div>
  </div>
</nav>
