<div class="container info fr m-md text-justify">
  <h2 class="mt-3">Contact</h2>
  <p>
    Le studio est situé dans l'Est du Plateau Mont-Royal à l'angle Masson et de Bordeaux.
  </p>
  <p>
    Pour les inscriptions aux cours ou pour tout autre renseignement vous pouvez me rejoindre au coordonnées suivantes:
  </p>
  <p>
    <a href="tel:438-838-8413"><b>438-838-8413</b></a>
  </p>
  <p>
    <a href="mailto:nilueps@gmail.com">nilueps@gmail.com</a>
  </p>
  <p>

  </p>
  <h2>À propos</h2>
  <div class="row p-2">
    <div class="col-sm-2 p-2">
      <img class="mx-auto d-block" style="max-width: 100%;" src="/assets/images/profile_pic.jpg" alt="Bonjour!">
    </div>
    <div class="col-sm-5 p-2">
      <p>
        Principalement autodidacte, j'ai également suivi une formation intensive à L'Académie d'art classique  à Florence&mdash;un pôle de la fameuse Académie russe des Beaux-Arts à Saint-Pétersbourg&mdash;où on m'a transmis la méthodologie académique développée en Union Soviétique et encore enseignée dans les institutions publiques russes et chinoises aujourd'hui. Cette formation, jumelée à une fascination pour les techniques artistiques traditionnelles m'ont permis d'acquérir un vaste corpus de connaissances qu'il me fait un plaisir de transmettre à mon tour à mes étudiant.e.s.
      </p>
    </div>
  </div>
</div>
