<div class="container pt-3 pb-3 text-justify">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-8">
      <h2>{{ "info-contact-title" | i18next }}</h2>
      <p>{{ "info-contact-coordinates" | i18next }}</p>
      <p>{{ "info-contact-contact" | i18next }}</p>
      <p><a href="tel:438-838-8413"><b>438-838-8413</b></a></p>
      <p><a href="mailto:nico@nilueps.net">nico@nilueps.net</a></p>
    </div>
    <div class="col"></div>
  </div>
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col-sm-3"> <img class="img-fluid rounded mx-auto d-block" src="/assets/images/profile_pic.jpg">
    </div>
    <div class="col-sm-4">
      <h2 class="pt-3">{{ "info-about-title" | i18next }}</h2>
      <p> {{ "info-about-bio" | i18next }} </p>
    </div>
    <div class="col"></div>
  </div>
</div>
