<div class="container info fr m-md pb-5">
  <h2>Contact</h2>
  <p>
    Pour les inscriptions aux cours ou pour tout autre renseignement vous pouvez me rejoindre au numéro suivant: <a href="tel:438-838-8413"><b>438-838-8413</b></a>
  </p>
  <p>
    Vous pouvez également utiliser le formulaire suivant:
  </p>
  <form action="action_page.php">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" placeholder="Nom...">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email...">
    </div>

    <div class="form-group">
      <label for="msg">Message</label>
      <textarea class="form-control" id="msg" rows="5" placeholder="Votre message..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>

  </form>
  <p>

  </p>
  <h2>Background</h2>
  <p>
    Principalement autodidacte, j'ai également suivi une formation intensive à <a href="https://www.artac.org/">L'Académie d'art classique</a>  à Florence où j'ai pu approfondir la méthodologie académique développée en URSS et toujours enseignée en Russie aujourd'hui. Cette formation, jumelée à une fascination pour les techniques artistiques traditionnelles m'ont permis d'acquérir un vaste corpus de connaissances.
  </p>
  <p>
    N'étant pas moi-même intéressé à faire de l'art une carrière, j'ai choisi d'opté pour la transmission du savoir.
  </p>
</div>>
