<div class="container classes m-md fr">

  <h2>Cours complets de dessin et peinture</h2>

  <p>J'offre un curriculum complet en dessin, en aquarelle et en peinture à l'huile d'après nature incluant une
    étude approfondie des matériaux et des techniques propres à chaque médium ainsi que des connaissances théoriques
    comme
    la perspective, la composition, la couleur et l'anatomie.</p>
  <p>Suivant une méthode d'apprentissage ancrée dans la tradition artistique européenne et aboutie dans le réalisme
    socialiste des académies soviétiques et chinoises du XXe siècle, ce cours a pour objet de vous transmettre les
    connaissances théoriques et techniques d'une tradition vivante dont l'analyse pénétrante du monde visuel est
    fondamentale à la création artistique figurative en générale, et à ses incarnations réalistes, impressionistes
    et
    surréalistes en particulier. Ce cheminement permet de percevoir l’invisible dans le visible, la structure
    spatiale des choses et ainsi d’acquérir une compréhension totale du sujet visuel; c'est-à-dire comme objet
    tri-dimensionel dans
    l'espace. Cette habileté ouvre le champ des possibles en termes de créativité parce qu'elle développe avant tout
    l'imagination visuelle de l'artiste.</p>
  <p>En progressant méthodiquement de l’élémentaire au complexe, je vous propose de découvrir pas à pas le riche et
    passionant univers du dessin et de la peinture. À commencer avec la construction géométrique simple et la
    réalisation de natures mortes monochromes en vue d'aiguiser l'oeil et la main, nous aboutirons à la création
    d'oeuvres complexes à l'huile: portraits, nus, paysages et compositions imaginaires. Le module final synthétise
    l'ensemble des connaissances acquises avec la réalisation d'un projet artistique personnel.
  </p>

  <h4>Fonctionnement
    des cours</h4>

  <p>Les cours sont donnés en personne au studio en petits groupes de 3 à 5 élèves. Cette formule me permet
    d'accompagner
    chaque élève tout au long de son cheminement en adaptant le plus possible mes conseils et mes instructions au
    niveau
    de chacun.e et aux obstacles qu'elle ou il rencontre. Le curriculum est réparti en modules; chaque module est
    échelonné sur 3 à 4 mois; avec un cours de 2 à 3 heures par semaine (le soir ou la fin de semaine) ainsi que des
    travaux
    à compléter à la maison. Les cours consisteront principalement en des exercices de reproduction d'après nature,
    parsemés de
    présentations théoriques et historiques ainsi que des démonstrations techniques. Des excursions en plein air
    sont
    également prévues.</p>
  <p>En plus des modules du cursus principal des ateliers plus courts et plus spécifiques sont offerts pour celles
    et
    ceux qui désirent approfondir leurs connaissances. Les ateliers portent entre autres sur l'anatomie, la
    fabrication
    de toiles sur mesure, la création de peinture à partir d'huile et de pigment, la photographie et l'archivage des
    oeuvres artistiques, et plus encore.</p>
  <p>Bien que les cours aient été conçus avant tout pour les débutant.e.s, il peuvent s'avérer extrêmement
    instructifs
    pour les
    artistes expérimenté.e.s qui s'intéressent aux méthodes traditionnelles ou qui veulent travailler sur leur
    maîtrise
    des bases.</p>
  <p>Les frais de cours incluent l’usage des outils partagés au studio (chevalets, planches, etc). Les étudiants
    doivent
    amener leur propre matériel artistique (crayons, pinceaux, peinture, papier, etc). De l’espace est prévu pour
    l’entreposage des effets personnels.</p>
  <p>Cours privés sur demande seulement</p>

  <h2>Modules</h2>

  <app-classes-module *ngFor="let moduleContent of moduleContents">
    <app-classes-module-button [title]="moduleContent.title" [id]="moduleContent.id" (click)="unclick()"></app-classes-module-button>
    <div class="collapse" id="moduleContent.id">
      <app-classes-module-bullets [innerHtml]="moduleContent.bullets"></app-classes-module-bullets>
      <app-classes-module-image [src]="moduleContent.img"></app-classes-module-image>
      <app-classes-module-description [innerHtml]="moduleContent.description">
      </app-classes-module-description>
    </div>
  </app-classes-module>