<div class="container classes m-md fr">

  <h2>Cours complets de dessin et peinture</h2>

  <p>J'offre un curriculum complet en dessin, en aquarelle et en peinture à l'huile d'après nature incluant une
    étude approfondie des matériaux et des techniques propres à chaque médium ainsi que des connaissances théoriques
    comme
    la perspective, la composition, la couleur et l'anatomie.</p>
  <p>Suivant une méthode d'apprentissage ancrée dans la tradition artistique européenne et aboutie dans le réalisme
    socialiste des académies soviétiques et chinoises du XXe siècle, ce cours a pour objet de vous transmettre les
    connaissances théoriques et techniques d'une tradition vivante dont l'analyse pénétrante du monde visuel est
    fondamentale à la création artistique figurative en générale, et à ses incarnations réalistes, impressionistes
    et
    surréalistes en particulier. Ce cheminement permet de percevoir l’invisible dans le visible, la structure
    spatiale des choses et ainsi d’acquérir une compréhension totale du sujet visuel; c'est-à-dire comme objet
    tri-dimensionel dans
    l'espace. Cette habileté ouvre le champ des possibles en termes de créativité parce qu'elle développe avant tout
    l'imagination visuelle de l'artiste.</p>
  <p>En progressant méthodiquement de l’élémentaire au complexe, je vous propose de découvrir pas à pas le riche et
    passionant univers du dessin et de la peinture. À commencer avec la construction géométrique simple et la
    réalisation de natures mortes monochromes en vue d'aiguiser l'oeil et la main, nous aboutirons à la création
    d'oeuvres complexes à l'huile: portraits, nus, paysages et compositions imaginaires. Le module final synthétise
    l'ensemble des connaissances acquises avec la réalisation d'un projet artistique personnel.
  </p>

  <h4>Fonctionnement
    des cours</h4>

  <p>Les cours sont donnés en personne au studio en petits groupes de 3 à 5 élèves. Cette formule me permet
    d'accompagner
    chaque élève tout au long de son cheminement en adaptant le plus possible mes conseils et mes instructions au
    niveau
    de chacun.e et aux obstacles qu'elle ou il rencontre. Le curriculum est réparti en modules; chaque module est
    échelonné sur 3 à 4 mois; avec un cours de 2 à 3 heures par semaine (le soir ou la fin de semaine) ainsi que des
    travaux
    à compléter à la maison. Les cours consisteront principalement en des exercices de reproduction d'après nature,
    parsemés de
    présentations théoriques et historiques ainsi que des démonstrations techniques. Des excursions en plein air
    sont
    également prévues.</p>
  <p>En plus des modules du cursus principal des ateliers plus courts et plus spécifiques sont offerts pour celles
    et
    ceux qui désirent approfondir leurs connaissances. Les ateliers portent entre autres sur l'anatomie, la
    fabrication
    de toiles sur mesure, la création de peinture à partir d'huile et de pigment, la photographie et l'archivage des
    oeuvres artistiques, et plus encore.</p>
  <p>Bien que les cours aient été conçus avant tout pour les débutant.e.s, il peuvent s'avérer extrêmement
    instructifs
    pour les
    artistes expérimenté.e.s qui s'intéressent aux méthodes traditionnelles ou qui veulent travailler sur leur
    maîtrise
    des bases.</p>
  <p>Les frais de cours incluent l’usage des outils partagés au studio (chevalets, planches, etc). Les étudiants
    doivent
    amener leur propre matériel artistique (crayons, pinceaux, peinture, papier, etc). De l’espace est prévu pour
    l’entreposage des effets personnels.</p>
  <p>Cours privés sur demande seulement</p>




  <h2>Modules</h2>

  <p>
      <button class="btn  btn-block btn-outline-dark" data-toggle="collapse" data-target="#module-i" aria-expanded="false"
        aria-controls="module-i">Module I - Apprendre à voir:
        introduction au dessin d'après nature</button>
    </p>
    <div class="collapse" id="module-i">
      <dl>
        <dt>Médiums utilisés:</dt>
        <dd>Graphite, fusain</dd>
        <dt>Compétences acquises:</dt>
        <dd>Perpective, proportions, construction, tonalité, préparation du papier</dd>
        <dt>Créations:</dt>
        <dd>Trois natures mortes au crayon de plomb et une au fusain</dd>
        <dt>Durée/Fréquence:</dt>
        <dd>1 cours par semaine pendant 3 mois</dd>
        <dt>Prix:</dt>
        <dd>575$</dd>
      </dl>
      <img class="img-fluid" src="/assets/images/module-i/xyijQSFam5E.jpg" alt="">
      <p></p>
      <h3>Description</h3>
      <p>L'étude du dessin et de la peinture d'après nature doit débuter avec l'étude de la forme et de la
        lumière. La
        représentation de la profondeur et du volume sur un plan ont longtemps posé problème aux artistes parce
        qu'elle
        exige un niveau de connaissance du réel qui dépasse le sensible : l'espace en tant qu'abstraction. Cette
        conception donne lieu à ce qu'on appelle la perspective. La perpective jumelée au jeu des ombres et
        lumière
        ouvre
        la porte à une nouvelle forme de liberté artistique: l'illusion de la profondeur.</p>
      <p>Par opposition, la simple reproduction mécanique du sujet tel qu'elle est enseignée dans certaines écoles
        étouffe le potentiel expressif en condamnant l'artiste à n'être rien qu'un automate. Et bien qu'une telle
        méthode
        soit capable de produire une illusion de profondeur à la manière d'un appareil photo, cette démarche
        fastidieuse
        est insuffisante parce qu'elle ignore la réalité spatiale d'une part et parce qu'elle néglige la dimension
        intellectuelle et créative de l'être humain de l'autre. En apprenant à percevoir non pas seulement
        l'apparence
        immediate mais bien la structure tri-dimensionelle des choses et à comprendre le comportement subtil de la
        lumière
        qui épouse et révèle les complexités de la forme, l'artiste développe une maîtrise du sujet où
        s'articulent
        perception sensible et compréhension abstraite pour donner lieu, avec la sensibilité émotionnelle et les
        ambitions
        expressives, à une pratique artistique totale. Cette maîtrise ne peut être acquise et aiguisée que dans la
        pratique.</p>
      <p>Ce premier module a donc pour but de familiariser l'élève avec les notions de base de la perspective, de
        la
        construction spatiale et du comportement de la lumière monochrome. Il invite l'élève à mettre en oeuvre
        ces
        compétences en réalisant une série de natures mortes selon une méthodologie pédagogique éprouvée. Les
        derniers
        cours du module préparent le terrain pour le module suivant en introduisant des éléments de la forme
        humaine.</p>
    </div>




    
    <p>
      <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#module-ii" aria-expanded="false"
        aria-controls="module-ii">Module
        II - La Couleur: introduction à l'aquarelle et à la peinture à l'huile &#9660;</button>
    </p>
    <div id="module-ii" class="collapse">
      <dl>
        <dt>Médiums utilisés:</dt>
        <dd>Graphite, fusain, aquarelle, peinture à l'huile</dd>
        <dt>Compétences acquises:</dt>
        <dd>Théorie des couleurs, mélange et reproduction des couleurs, additifs, préparation des toiles</dd>
        <dt>Créations:</dt>
        <dd>Deux natures mortes et un paysage à l'aquarelle et une nature morte à l'huile</dd>
        <dt>Durée/Fréquence:</dt>
        <dd>1 cours par semaine pendant 3 mois</dd>
        <dt>Prix:</dt>
        <dd>575$</dd>
      </dl>
      <img src="/assets/images/Skeleton study.JPG" class="img-fluid" alt="">
      <p></p>
      <h3>Description</h3>
      <p></p>
    </div>



    <p>
      <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#module-iii" aria-expanded="false"
        aria-controls="module-iii">Module III - Le Portrait: Synthèse des acquis et introduction à l'anatomie</button>
    </p>



    <p>
      <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#module-iv" aria-expanded="false"
        aria-controls="#module-iv">Module IV - Le Nu: Anatomie approfondie, la draperie</button>
    </p>



    <p>
      <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#module-v" aria-expanded="false"
        aria-controls="module-v">Module V - Paysage et composition</button>
    </p>



    <p>
      <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#module-ii" aria-expanded="false"
        aria-controls="module-ii">Module VI - Projet personnel</button>
    </p>



  
    <h2>Ateliers</h2>
    <button type="button" class="btn btn-block btn-outline-dark mb-2" data-toggle="collapse"
      data-target="#module-i">Anatomie animale: chats, chiens et chevaux</button>



    <button type="button" class="btn btn-block btn-outline-dark mb-2" data-toggle="collapse"
      data-target="#module-ii">Préparation d'une toile: faux-cadre, gesso, imprimatura</button>



    <button type="button" class="btn btn-block btn-outline-dark mb-2" data-toggle="collapse"
      data-target="#module-iii">Archivage</button>



    <button type="button" class="btn btn-block btn-outline-dark" data-toggle="collapse"
      data-target="#module-iv">Vernis</button>



    <button type="button" class="btn btn-block btn-outline-dark mb-2" data-toggle="collapse"
      data-target="#module-v">Fabrication de peinture</button>
  </div>
  